body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hide horizontal overflow */
  font-family: 'Roboto', sans-serif;
}

#menu {
  margin: 0 auto; /* Center the container horizontally */
  padding: 1rem;
  max-height: 80vh; /* Set maximum height to 80% of the viewport height */
  overflow-y: scroll; /* Enable vertical scroll */
  display: flex;
  flex-direction: column; /* Stack menu items vertically */
  align-items: center; /* Center menu items horizontally */
  text-align: left; /* Reset text alignment for the menu items */
}

#title {
  margin-right: auto; 
  font-family: 'Now', sans-serif; 
  color: #41C1BA; 
  font-size: 25px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 100px; /* Adjust the width of the logo as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 1rem; /* Add some spacing between the logo and the text */
}

#menu img {
  max-width: 100%; /* Ensure the image fits within its container */
  margin-bottom: 1rem; /* Add some spacing between the image and the menu items */
}


.menu-item {
  width: 50%; /* Set width to 50% of the container's width */
  margin-bottom: 1rem; /* Add some spacing between items */
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.menu-item:hover {
  background-color: #f5f5f5;
}
#cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px; /* Set width to desired size */
  height: 700px; /* Set height to match width for a square */
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  overflow-y: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adjust shadow as needed */
  z-index: 1000;
}

#cart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 175px; /* Set the height to 100 pixels */
  background-color: #41C1BA; /* Set the background color */
  z-index: -1; /* Send it behind the #cart content */
}



.hidden {
  display: none;
}

#cartItems {
  margin-bottom: 1rem;
}

.cart-item {
  margin-bottom: 0.5rem;
}

#cartTotal {
  font-weight: bold;
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}
